body {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  padding: 20px;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#header {
  display: flex;
  justify-content: center;
}

#tagline {
  margin-bottom: 16px;
  width: 66.66%; /* 2/3 of the parent width */
  margin: auto; /* center the element horizontally */
  font-size: 24px; /* larger text */
  line-height: 1.5; /* larger line spacing */
  text-align: center; /* center text */
  display: flex; /* using Flexbox */
  flex-direction: column; /* stack children vertically */
  justify-content: center; /* center children vertically */
  align-items: center; /* center children horizontally */
}

#Crabpic {
  max-height: 300px;
  margin: auto; /* centers the image horizontally */
  display: block; /* makes the image a block element */
}

#crabyarn {
  margin-bottom: 16px;
  width: 66.66%; /* 2/3 of the parent width */
  margin: auto; /* center the element horizontally */
  font-size: 24px; /* larger text */
  line-height: 1.5; /* larger line spacing */
  text-align: center; /* center text */
  display: flex; /* using Flexbox */
  flex-direction: column; /* stack children vertically */
  justify-content: center; /* center children vertically */
  align-items: center; /* center children horizontally */
  min-height: 100vh; /* take up at least the full viewport height */
}
